@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Flag foutmelding";
}

<h1 class="text-danger">Foutmelding bij het flaggen</h1>

<h2 class="text-danger">U hebt deze antwoord al geflaged.</h2>
