@model JPP.BL.Domain.Modules.AgendaModule

@{
    ViewBag.title = "Agenda antwoorden";
    
}


@if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
{

<div id="_Lijst">

    @{Html.RenderAction("_Lijst", "Antwoord", new { id = Model.ID });}
</div>

<div id="_Lijst2">

    @{Html.RenderAction("_Lijst2", "Antwoord", new { id = Model.ID });}
</div>
    
}