@model JPP.BL.Domain.Antwoorden.AgendaAntwoord

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Antwoord";
}
<link rel="stylesheet" type="text/css" href="~/Content/DossierModel.css">


<div id="DossierModelTitle"> <h1>@Model.titel</h1></div><!--Hier moet de titel van de pagina komen-->
<div id="DossierModelSubTitle">
    <h2>
        @Model.subtitel
    </h2>
</div> <!--Hier moet de subtitel(beknopte uitleg) van de pagina komen-->
<div id="DossierModelAfbeelding">
    <div id="DossierModelTextVakEen">
        <p>
            @Model.inhoud
        </p>

    </div><!--Hier moet de eerste textvak van de pagina komen-->

</div><!--Hier moet de afbeelding van de pagina komen-->


<div id="TweeTextvakWrapper">
    <div id="DossierModelTextVakTwee">
        <p>
            Aliquam condimentum magna ac ultricies posuere. Cras viverra velit lectus,
            vel pretium nulla posuere sit amet.
            <br />
            <br />
            Aliquam condimentum magna ac ultricies posuere. Cras viverra velit lectus,
            vel pretium nulla posuere sit amet.
        </p>
    </div><!--Hier moet de tweedetextvak van de pagina komen-->

    <div id="DossierModelTextVakDrie">
        <p>
            Aliquam condimentum magna ac ultricies posuere. Cras viverra velit lectus,
            vel pretium nulla posuere sit amet.
            <br />
            <br />
            Aliquam condimentum magna ac ultricies posuere. Cras viverra velit lectus,
            vel pretium nulla posuere sit amet.
        </p>
    </div><!--Hier moet de derde textvak van de pagina komen-->
</div>


<p>
    @if (User.Identity.Name == Model.gebruikersNaam)
    {

        @Html.ActionLink("Wijzig", "Edit", new { id = Model.ID })
    }

</p>
