@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Create Your Page</h1>

<form action="demo_form.asp">
    Google maps coordinaten: <input type="text" name="googleMaps" /><br />
    Tags: <input type="text" name="persoonlijkeTags" /><br />
    TekstKleur:<input type="text" name="foregroundColor" /><br />
    achtergrondKleur: <input type="text" name="backgroundColor" /><br />

    <input type="submit" value="Submit">
</form>