@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "DosierModelFive";
}


<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    function initialize() {
        var mapCanvasTwo = document.getElementById('map-canvasTwo');
        var mapOptionsTwo = {
            center: new google.maps.LatLng(44.5403, -78.5463),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvasTwo, mapOptionsTwo)
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="DossierModelTwoTitle"> <h1>Mijn favoriete feestzaal</h1></div><!--Hier moet de titel van de pagina komen-->
<div id="DossierModelTwoSubTitle">
    <h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
        Phasellus nec hendrerit metus. Sed sodales rhoncus nibh, a convallis quam lacinia ut.
    </h2>
</div> <!--Hier moet de subtitel(beknopte uitleg) van de pagina komen-->

<div id="DossierModelTwoAfbeelding">
    <img src="~/Images/afbeeldingen/homeImage.jpg" />

    <div id="map-canvasTwo"></div>

</div><!--Hier moet de afbeelding van de pagina komen-->
<div id="DossierModelTwoTag"> <p>Tags: Feestzaal, Fietsen, Station</p></div> <!--Hier moet de Tag van de pagina komen-->





    <div id="DossierModelSixTextVakEen">
        <p>
            Aliquam condimentum magna ac ultricies posuere. Cras viverra velit lectus,
            vel pretium nulla posuere sit amet. Vestibulum venenatis volutpat dui.
            Aliquam dictum metus eget est sodales malesuada. Nunc pharetra iaculis suscipit.
            Mauris sed lectus nec nunc laoreet molestie et ac ex. Duis a aliquam sapien. Nullam fermentum diam arcu,
            nec lacinia metus pulvinar at. Nunc eget tempor ex. Nunc vehicula neque ut vulputate feugiat.
            Aenean euismod posuere nunc, a aliquet nunc laoreet nec. Phasellus faucibus mi et bibendum pretium.
            Morbi magna lorem, eleifend at convallis quis, pretium id turpis. In suscipit, magna ac laoreet pellentesque,
            augue risus cursus arcu, eget ornare est libero vel leo. Etiam hendrerit hendrerit arcu, posuere semper sapien
            facilisis a.
        </p>

    </div><!--Hier moet de eerste textvak van de pagina komen-->

    <div id="TweeTextvakWrapperSix">
        <div id="DossierModelSixTextVakTwee">
            <p>
                Aliquam condimentum magna ac ultricies posuere. Cras viverra velit lectus,
                vel pretium nulla posuere sit amet.
                <br />
                <br />
                Aliquam condimentum magna ac ultricies posuere. Cras viverra velit lectus,
                vel pretium nulla posuere sit amet.
            </p>
        </div><!--Hier moet de tweedetextvak van de pagina komen-->

        <div id="DossierModelSixTextVakDrie">
            <p>
                Aliquam condimentum magna ac ultricies posuere. Cras viverra velit lectus,
                vel pretium nulla posuere sit amet.
                <br />
                <br />
                Aliquam condimentum magna ac ultricies posuere. Cras viverra velit lectus,
                vel pretium nulla posuere sit amet.
            </p>
        </div><!--Hier moet de derde textvak van de pagina komen-->
    </div>


