@{

    ViewBag.title = "Mijn antwoorden";
}

<div>
    <a href="@Url.Action("Manage")"><img src="~/Images/page icons/goBack2.png" /> Ga terug</a>
</div>

<h1>Mijn antwoorden</h1>
<div id="mijnAgendaAntwoorden">
    @{ Html.RenderAction("_partialMijnAgendaAntwoorden", "Antwoord");}
</div>

