@{
    ViewBag.Title = "Admin module menu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/KeuzePagina.css">
<div class="containerButton">
    <p>
        <a href="@Url.Action("Dossier","Module")" id="adminMenuButton" class="ButtonDossier">Beheer Dossiermodules</a>
        <a href="@Url.Action("Agenda","Module")" id="adminMenuButton" class="ButtonAgenda">Beheer Agendamodules</a>
    </p>
</div>
