
<div class="row">
    <div class="col-md-4 centraal">

        <a href="#"><img src="~/Images/websitePage logos/iconIdea.png"></a>
        <h2>Bedenk</h2>
        <p>
            Bedenk een oplossing voor ons probleem. Wees zo creatief mogelijk en maak je eigenpagina om je idee kracht bij te zetten.
            Of geef je mening over een door ons bepaalde thema.
        </p>
    </div>
    <div class="col-md-4 centraal">

        <a href="#"><img src="~/Images/websitePage logos/iconSamenwerken.png"></a>
        <h2>Werk samen</h2>
        <p>
            Communiceer met je stadsgenoten, en werk samen om de vooropgestelde problemen op te lossen.
            Werk samen met je stadsgenoten om van Leuven een betere stad te maken.
        </p>
    </div>
    <div class="col-md-4 centraal">

        <a href="#"><img src="~/Images/websitePage logos/iconLike.png"></a>
        <h2>Like</h2>
        <p>
            Like je favoriete pagina's, en help zo je favoriete pagina te laten winnen. 
            Of Verzamel genoeg stemmen voor je eigen pagina en mogelijk win je een prijs!
        </p>
    </div>

</div>

