@{
    ViewBag.Title = "Home pagina";
    
    
}


@if (Request.IsAuthenticated)
{


    @*<iframe width="560" height="315" src="https://www.youtube.com/embed/IPIPscjd4dI" frameborder="0" allowfullscreen></iframe>*@
    <div id="homeIconMenu" class="row verborgen">
        <div id="eersteMenuItem" class="col-md-4 centraal">

            <a id="eersteMenuLink" href="@Url.Action("Menu","Home")"><img src="~/Images/homeSpecialMenu icons/iconStart.png"></a>
            <h2>Bedenk</h2>
            <h2>Comment</h2>
            <h2>Like</h2>
        
            <h4>Crëer je eigen pagina, <br>
            of geef mening over een bestaand pagina.</h4>

        </div>
        <div id="tweedeMenuItem" class="col-md-4 centraal">

            <a id="tweedeMenuLink" href="@Url.Action("VolgOp", "Module")"><img src="~/Images/homeSpecialMenu icons/iconFinish.png"></a>
            <h2>Volg op</h2>
            <h4>Wat gebeurt er met de voorstelen die gewonnen hebben.</h4>
         
        </div>
    

        <div id="derdeMenuItem" class="col-md-4 centraal">

            <a id="derdeMenuLink" href="@Url.Action("CommingSoon","Module")"><img src="~/Images/homeSpecialMenu icons/iconComing.png"></a>
            <h2>Comming soon</h2>
            <h4>Vind hier de toekomstige projecten.</h4>
        </div>

    </div>
    <div id="homeTitelHeader">
        <button id="hide"><span>Verberg</span></button>
        <button id="show"><span>Toon</span></button>
        <p>
            @if (Request.Url.AbsoluteUri.Contains("AZ"))
            {
                <span>Pagina's gesorteerd op titel(A-Z)</span>
            }
            else if (Request.Url.AbsoluteUri.Contains("ZA"))
            {
                <span>Pagina's gesorteerd op titel(Z-A)</span>
            }
            else if (Request.Url.AbsoluteUri.Contains("Likes"))
            {
                <span>Populairste pagina's</span>
            }
            else if (Request.Url.AbsoluteUri.Contains("NPop"))
            {
                <span>Minst populairste pagina's</span>
            }
            else
            {
                <span>Meest recente pagina's</span>
            }
           
        </p>
        



    </div>


    <div id="mainWrapper2">
        <div class="container body-content">
            <div id="body-contentwrapper">
                <div id="homeMid">
                    @{ Html.RenderAction("homePartialAntwoorden", "Antwoord");}
                </div>
            </div>


        </div>

    </div>

}
else
{

    <div id="mainWrapper2">
        <div class="container body-content">

            <div class="row">
                <div class="col-md-4 centraal">

                    <a href="#"><img src="~/Images/websitePage logos/iconIdea.png"></a>
                    <h2>Bedenk</h2>
                    <p>
                        Bedenk een oplossing voor ons probleem. Wees zo creatief mogelijk en maak je eigenpagina om je idee kracht bij te zetten.
                        Of geef je mening over een door ons bepaalde thema.
                    </p>
                </div>
                <div class="col-md-4 centraal">

                    <a href="#"><img src="~/Images/websitePage logos/iconSamenwerken.png"></a>
                    <h2>Werk samen</h2>
                    <p>
                        Communiceer met je stadsgenoten, en werk samen om de vooropgestelde problemen op te lossen.
                        Werk samen met je stadsgenoten om van Leuven een betere stad te maken.
                    </p>
                </div>
                <div class="col-md-4 centraal">

                    <a href="#"><img src="~/Images/websitePage logos/iconLike.png"></a>
                    <h2>Like</h2>
                    <p>
                        Like je favoriete pagina's, en help zo je favoriete pagina te laten winnen.
                        Of Verzamel genoeg stemmen voor je eigen pagina en mogelijk win je een prijs!
                    </p>
                </div>

            </div>

            
        </div>

    </div>
}

