
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Tussen menu (Actieve dossiermodule + Actieve agenamodule)</h2>

<p><a href="@Url.Action("Dossier","Module")">Actieve dossiermodule</a></p>
<p><a href="@Url.Action("Agenda","Module")">Actieve agendamodule</a></p>


