@{
    ViewBag.Title = "Beheer agendamodules";
    
}

<div id="agendaModules">

    @{ Html.RenderAction("partialViewAgendaModule", "Module"); }
</div>

<div id="geplandeAgendaModules">

    @{ Html.RenderAction("GeplandeAgendaModules", "Module"); }
</div>

<div id="geslotenAgendaModules">

    @{ Html.RenderAction("GeslotenAgendaModules", "Module"); }
</div>



