@{
    ViewBag.Title = "Agenda";


}


@{ Html.RenderAction("ActiefAgenda", "Module");}

<div id="antwoorden">


        @{ Html.RenderAction("_partialAgendaAntwoordLijst", "Antwoord"); }

 
    



</div>
