 @{
     ViewBag.Title = "Beheer modules";
     
 }
<div id="dossierModules">
    @{ Html.RenderAction("partialViewDossierModule", "Module"); }
</div>

<div id="agendaModules">

    @{ Html.RenderAction("partialViewAgendaModule", "Module"); }
</div>
