.AdjDossierModelThreeTextVakEen {
    max-width: 500px;
    border: #FFF;
    float: right;
    width: 500px;
    height: 300px;
    margin-right: 15%;
    overflow: hidden;
}

#TextWrapperThree {
    width: 83%;
    height: 100px;
}

#DossierModelThreeTag {
    margin-top: 220px;
    width: 500px;
    height: 100px;
    margin-left: 60%;
}

#AdjustableButtonWrapper {
    background-color: #D3D3D3;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
    width: 100%;
    height: 150px;
    display: table;
}

#AdjButtonWrapper {
    margin-left: 37.5%;
}


#AdjButtonTwo {
    width: 80px;
    height: 80px;
}

    #AdjButtonTwo img {
        width: 65px;
        height: 70px;
    }

#AdjButtonThree {
    width: 80px;
    height: 80px;
}

    #AdjButtonThree img {
        width: 65px;
        height: 70px;
    }

#AdjButtonFive {
    width: 80px;
    height: 80px;
}

    #AdjButtonFive img {
        width: 65px;
        height: 70px;
    }

#AdjButtonSix {
    width: 80px;
    height: 80px;
}

    #AdjButtonSix img {
        width: 65px;
        height: 70px;
    }


    #OptionsBar {
    background-color: #D3D3D3;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
    width: 100%;
    height: 180px;
    display: table;
    margin-top: 50px;
}

#OptionsbarTitle {
    text-align: center;
    font-size: 30px;
    color: #0099CC;
    font-weight: bold;
}

#OptionsbarTitleHead {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #0099CC;
    font-weight: bold;
}

#DossierModelAfbeelding {
    width: 80%;
    height: 300px;
    margin-left: 15%;
    margin-top: 50px;
}

#DossierModelAfbeelding img {
    width: 38%;
    height: 100%;
    float: left;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
}


#fileUploadSubmit {
}

#fileUploadForm {
    margin-left: 15%;
    margin-top: 20px;
}

#fileUploadInput {
    margin-left: 15%;
}

#fileUploadLabel {
    margin-left: 15%;
}


#ValidatieError{
    color:red;
    font-size:20px;
    text-align:center;
}

#TweeTextvakWrapper {
    width: 80%;
    height: 100px;
    margin-left: 15%;
    margin-top: 50px;
}

.AdjDossierModelTextVakEen {
    float: right;
    max-width: 500px;
    width: 500px;
    height: 300px;
    margin-right: 15%;
    border: #FFF;
    overflow: hidden;
}

.AdjDossierModelTextVakTwee {
    width: 500px;
    height: 120px;
    max-height: 120px;
    float: left;
    max-width: 500px;
    border: #FFF;
    overflow: hidden;
}

.AdjDossierModelTextVakDrie {
    width: 500px;
    height: 120px;
    float: right;
    max-height: 120px;
    margin-right: 15%;
    max-width: 500px;
    border: #FFF;
    overflow: hidden;
}

#map-canvas {
    margin-top: 50px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
    position: relative;
    margin-left: 26%;
    margin-right: auto;
    width: 44%;
    height: 400px;
}

#DossierModelTag {
    margin-top: 20px;
    width: 500px;
    height: 100px;
    margin-left: 60%;
}

#AdjCleanUp {
    margin-top: 25px;
    margin-left: 2%;
    margin-right: 2%;
}

#persoonlijkeTags {
    display: table-cell;
    float: left;
    margin-left: 1%;
    width: 370px;
}

#persoonlijkeTags input {
    width: 290px;
}

#foregroundColor {
    display: table-cell;
    clear: left;
    float: left;
    width: 370px;
}

#foregroundColor input {
    width: 370px;
}


#backgroundColor {
    display: table-cell;
    float: left;
    margin-left: 1%;
    width: 370px;
}

#backgroundColor input {
    width: 370px;
}

#ValidatieError{
    color:red;
    font-size:20px;
    text-align:center;
}

#TweeTextvakWrapperThree {
    height: 200px;
    float: left;
    width: 38%;
    margin-left: 19%;
    margin-top: 25px;
}

#map-canvasThree {
    float: right;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
    position: relative;
    width: 38%;
    height: 300px;
}

.AdjAgendaModelTitle {
    width: 100%;
    max-width: 100%;
    color: #0099cc;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    overflow: hidden;
    border: #FFF;
    height: 80px;
    margin-top: 50px;
}



.AdjAgendaModelSubTitle {
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #666666;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    border: #FFF;
}

.AdjDossierModelTextVakEen {
    float: right;
    max-width: 500px;
    width: 500px;
    height: 300px;
    margin-right: 15%;
    border: #FFF;
    overflow: hidden;
}

.AdjDossierModelTextVakTwee {
    width: 500px;
    height: 120px;
    max-height: 120px;
    float: left;
    max-width: 500px;
    border: #FFF;
    overflow: hidden;
}

.AdjDossierModelTextVakDrie {
    width: 500px;
    height: 120px;
    float: right;
    max-height: 120px;
    margin-right: 15%;
    max-width: 500px;
    border: #FFF;
    overflow: hidden;
}

.activeLayout {
    border: 2px solid red;
}

.AdjDossierModelTwoTextVakDrie {
    width: 500px;
    height: 120px;
    margin-top: 20px;
    margin-right: 15%;
    max-width: 500px;
    overflow: hidden;
    border: #FFF;
}

.AdjDossierModelTwoTextVakTwee {
    width: 500px;
    height: 120px;
    max-height: 120px;
    max-width: 500px;
    border: #FFF;
    overflow: hidden;
}


.AdjDossierModelTwoTextVakEen {
    float: left;
    width: 500px;
    height: 300px;
    margin-left: 1%;
    max-width: 500px;
    overflow: hidden;
    border: #FFF;
}

.AdjDossierModelThreeTextVakEen {
    max-width: 500px;
    border: #FFF;
    float: right;
    width: 500px;
    height: 300px;
    margin-right: 15%;
    overflow: hidden;
}

.AdjDossierModelFiveTextVakEen {
    max-width: 500px;
    border: #FFF;
    float: left;
    width: 500px;
    height: 300px;
    overflow: hidden;
}

#TextWrapperFive {
    margin-left: 16%;
    width: 83%;
    height: 250px;
}

.AdjDossierModelSixTextVakDrie {
    width: 500px;
    height: 120px;
    margin-top: 20px;
    max-width: 500px;
    overflow: hidden;
    border: #FFF;
    margin-left: 9%;
}
