@media all and (min-width:1400px) {


    .AdjAgendaModelTextVakEen {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    width: 80%;
    height: 300px;
    border: #FFF;
    overflow: hidden;
}


    #AdjustableButtonWrapper {
        background-color: #D3D3D3;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        width: 100%;
        height: 150px;
        display: table;
    }

    #AdjButtonWrapper {
          margin-left: 39%;
          width: 22.5%;
          margin-right: 39%;
    }

    #googlemaps {
    display: table-cell;
    float: left;
    width: 370px;
}

    #googlemaps input {
        width: 290px;
    }

    #AdjButtonTwo {
        width: 19%;
        height: 75px;
    }

        #AdjButtonTwo img {
            width: 100%;
            height: 65px;
        }

    #AdjButtonThree {
        width: 19%;
        height: 75px;
    }

        #AdjButtonThree img {
            width: 100%;
            height: 65px;
        }

    #AdjButtonFive {
        width: 19%;
        height: 75px;
    }

        #AdjButtonFive img {
            width: 100%;
            height: 65px;
        }

    #AdjButtonSix {
        width: 19%;
        height: 75px;
    }

        #AdjButtonSix img {
            width: 100%;
            height: 65px;
        }


    #OptionsBar {
        background-color: #D3D3D3;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        width: 100%; 
        display: table;
        margin-top: 50px;
        padding:2%;
   
    }

    #OptionsbarTitle {
        text-align: center;
        font-size: 30px;
        color: #0099CC;
        font-weight: bold;
    }

    #OptionsbarTitleHead {
        margin-top: 50px;
        text-align: center;
        font-size: 30px;
        color: #0099CC;
        font-weight: bold;
    }

    #DossierModelAfbeelding {
        width: 80%;
        height: 300px;
        margin-left: 15%;
        margin-top: 50px;
    }

        #DossierModelAfbeelding img {
            width: 38%;
            height: 100%;
            float: left;
            box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        }


    #fileUploadSubmit {
    }

    #fileUploadForm {
        margin-left: 15%;
        margin-top: 20px;
    }

    #fileUploadInput {
        margin-left: 15%;
    }

    #fileUploadLabel {
        margin-left: 15%;
    }


    #ValidatieError {
        color: red;
        font-size: 20px;
        text-align: center;
    }

    #TweeTextvakWrapper {
        width: 80%;
        height: 100px;
        margin-left: 15%;
        margin-top: 50px;
    }

    .AdjAgendaModelTitle {
        width: 100%;
        max-width: 100%;
        color: #0099cc;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        overflow: hidden;
        border: #FFF;
        height: 80px;
        margin-top: 50px;
    }



    .AdjAgendaModelSubTitle {
        width: 100%;
        max-width: 100%;
        text-align: center;
        color: #666666;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        font-weight: bold;
        overflow: hidden;
        border: #FFF;
    }

    .AdjDossierModelTitle {
        width: 100%;
        max-width: 100%;
        color: #0099cc;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        overflow: hidden;
        border: #FFF;
        height: 80px;
        margin-top: 50px;
    }


    .AdjDossierModelSubTitle {
        width: 100%;
        max-width: 100%;
        text-align: center;
        color: #666666;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        font-weight: bold;
        overflow: hidden;
        border: #FFF;
    }

    .AdjDossierModelTextVakEen {
        float: right;
        max-width: 500px;
        width: 500px;
        height: 300px;
        margin-right: 15%;
        border: #FFF;
        overflow: hidden;
    }

    .AdjDossierModelTextVakTwee {
        width: 500px;
        height: 120px;
        max-height: 120px;
        float: left;
        max-width: 500px;
        border: #FFF;
        overflow: hidden;
    }

    .AdjDossierModelTextVakDrie {
        width: 500px;
        height: 120px;
        float: right;
        max-height: 120px;
        margin-right: 15%;
        max-width: 500px;
        border: #FFF;
        overflow: hidden;
    }

    #map-canvas {
        margin-top: 50px;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        position: relative;
        margin-left: 26%;
        margin-right: auto;
        width: 44%;
        height: 400px;
    }

    #DossierModelTag {
        margin-top: 20px;
        width: 500px;
        height: 100px;
        margin-left: 60%;
    }
     #AgendaModelTag{
        margin-top: 20px;
        margin-left: 40%;
    }


    #AdjCleanUp {
        margin-top: 25px;
        margin-left: 2%;
        margin-right: 2%;
    }

    #persoonlijkeTags {
        display: table-cell;
        float: left;
        margin-left: 1%;
        width: 370px;
    }

        #persoonlijkeTags input {
            width: 290px;
        }

    #foregroundColor {
        display: table-cell;
        clear: left;
        float: left;
        width: 370px;
    }

        #foregroundColor input {
            width: 370px;
        }


    #backgroundColor {
        display: table-cell;
        float: left;
        margin-left: 1%;
        width: 370px;
    }

        #backgroundColor input {
            width: 370px;
        }

            #titleColor {
        display: table-cell;
        float: left;
        margin-left: 1%;
        width: 370px;
    }

        #titleColor input {
            width: 370px;
        }

            #subTitleColor {
        display: table-cell;
        float: left;
        margin-left: 1%;
        width: 370px;
    }

        #subTitleColor input {
            width: 370px;
        }

    #ValidatieError {
        color: red;
        font-size: 20px;
        text-align: center;
    }

    .activeLayout {
        border: 2px solid red;
    }

    .AdjDossierModelTwoTextVakDrie {
        width: 500px;
        height: 120px;
        margin-top: 20px;
        margin-right: 15%;
        max-width: 500px;
        overflow: hidden;
        border: #FFF;
    }

    .AdjDossierModelTwoTextVakTwee {
        width: 500px;
        height: 120px;
        max-height: 120px;
        max-width: 500px;
        border: #FFF;
        overflow: hidden;
    }


    .AdjDossierModelTwoTextVakEen {
        float: left;
        width: 500px;
        height: 300px;
        margin-left: 1%;
        max-width: 500px;
        overflow: hidden;
        border: #FFF;
    }

    .AdjDossierModelThreeTextVakEen {
        max-width: 500px;
        border: #FFF;
        float: right;
        width: 500px;
        height: 300px;
        margin-right: 15%;
        overflow: hidden;
    }

    .AdjDossierModelFiveTextVakEen {
        max-width: 500px;
        border: #FFF;
        float: left;
        width: 500px;
        height: 300px;
        overflow: hidden;
    }

    #TextWrapperFive {
        margin-left: 16%;
        width: 83%;
        height: 250px;
    }

    .AdjDossierModelSixTextVakDrie {
        width: 500px;
        height: 120px;
        margin-top: 20px;
        max-width: 500px;
        overflow: hidden;
        border: #FFF;
        margin-left: 15%;
    }

    .AdjDossierModelSixTextVakEen {
        position: relative;
        width: 70%;
        height: 150px;
        margin-left: 15%;
        margin-right: 15%;
        max-width: 70%;
        overflow: hidden;
        border: #FFF;
    }


    #DossierModelTwoAfbeelding {
        width: 80%;
        height: 300px;
        margin-left: 16%;
        margin-top: 50px;
    }

        #DossierModelTwoAfbeelding img {
            width: 38%;
            height: 100%;
            float: left;
            box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        }

    #map-canvasTwo {
        float: right;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        position: relative;
        margin-right: 15%;
        width: 38%;
        height: 100%;
    }


    #TextWrapperTwo {
        width: 80%;
        height: 100px;
        margin-left: 15%;
    }


    .AdjDossierModelTwoTextVakEen {
        float: left;
        width: 500px;
        height: 300px;
        margin-left: 1%;
        max-width: 500px;
        overflow: hidden;
        border: #FFF;
    }

    #TweeTextvakWrapperTwo {
        width: 38%;
        height: 200px;
        float: right;
        margin-right: 13%;
    }

    #DossierModelTwoTag {
        margin-top: 20px;
        width: 500px;
        height: 100px;
        margin-left: 60%;
    }

    #TweeTextvakWrapperThree {
        height: 200px;
        float: left;
        width: 38%;
        margin-left: 19%;
        margin-top: 25px;
    }

    #map-canvasThree {
        float: right;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        position: relative;
        width: 38%;
        height: 300px;
    }


    #TextWrapperThree {
        width: 83%;
        height: 100px;
    }

    #DossierModelThreeTag {
        margin-top: 220px;
        width: 500px;
        height: 100px;
        margin-left: 60%;
    }

    #DossierModelFiveAfbeelding {
        width: 80%;
        height: 300px;
        margin-left: 16%;
        margin-top: 90px;
    }

        #DossierModelFiveAfbeelding img {
            width: 500px;
            height: 300px;
            float: left;
            box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        }

    #TextWrapperFive {
        margin-left: 16%;
        width: 83%;
        height: 250px;
    }

    #TweeTextvakWrapperSix {
        height: 200px;
        margin-top: 25px;
        margin-left: 15%;
    }

    #SubmitButtonAdj {
    display: table-cell;
    float: right;
    clear: left;
    margin-top: 20px;
}

}














@media all and (min-width:300px) and (max-width:1400px){

    .AdjAgendaModelTextVakEen {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    width: 80%;
    height: 300px;
    border: #FFF;
    overflow: hidden;
}

        #DossierModelAfbeelding{
            width: 100%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            height: 20%;
        }

        #DossierModelAfbeelding img{
            width: 70%;
            position: relative;
            margin-left: 14%;
            margin-right: auto;
            height: 50%;
        }

        .AdjDossierModelTextVakEen{
            position: relative;
            max-width: 70%;
            width: 70%;
            height: 300px;
            margin-left: 14%;
            margin-right: auto;
            border: #FFF;
            overflow: hidden;
        }

        #TweeTextvakWrapper{
            width: 100%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            height: 20%;
        }

    .AdjDossierModelTextVakTwee {
        width: 70%;
        height: 150px;
        max-height: 150px;
        max-width: 70%;
        margin-left: 14%;
        margin-right: 14%;
        border: #FFF;
        overflow: hidden;
    }

        .AdjDossierModelTextVakDrie {
        width: 70%;
        height: 150px;
        max-height: 150px;
        max-width: 70%;
        margin-left: 14%;
        margin-right: 14%;
        border: #FFF;
        overflow: hidden;
    }

    #map-canvas {
        margin-top: 50px;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 20%;
    }

        .AdjDossierModelTitle {
        width: 70%;
        max-width: 70%;
        color: #0099cc;
        margin-left: 14%;
        margin-right: auto;
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        overflow: hidden;
        border: #FFF;
        height: 80px;
        margin-top: 50px;
    }


    .AdjDossierModelSubTitle {
        width: 70%;
        max-width: 70%;
        text-align: center;
        color: #666666;
        margin-left: 14%;
        margin-right: auto;
        font-size: 30px;
        font-weight: bold;
        overflow: hidden;
        border: #FFF;
    }

        #AdjButtonWrapper {
          margin-left: 39%;
          width: 22.5%;
          margin-right: 39%;
    }

            #AdjustableButtonWrapper {
        background-color: #D3D3D3;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        width: 100%;
        height: 150px;
        display: table;
    }

     #AdjButtonWrapper {
          margin-left: 25%;
          width: 50%;
          margin-right: 25%;
    }


    #AdjButtonTwo {
        width: 19%;
        height: 75px;
    }

        #AdjButtonTwo img {
            width: 100%;
            height: 65px;
        }

    #AdjButtonThree {
        width: 19%;
        height: 75px;
    }

        #AdjButtonThree img {
            width: 100%;
            height: 65px;
        }

    #AdjButtonFive {
        width: 19%;
        height: 75px;
    }

        #AdjButtonFive img {
            width: 100%;
            height: 65px;
        }

    #AdjButtonSix {
        width: 19%;
        height: 75px;
    }

        #AdjButtonSix img {
            width: 100%;
            height: 65px;
        }

    #OptionsBar {
        background-color: #D3D3D3;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        width: 100%;
        display: table;
        margin-top: 50px;
        padding:2%;
    }

    #OptionsbarTitle {
        text-align: center;
        font-size: 30px;
        color: #0099CC;
        font-weight: bold;
    }

    #OptionsbarTitleHead {
        margin-top: 50px;
        text-align: center;
        font-size: 30px;
        color: #0099CC;
        font-weight: bold;
    }

     #googlemaps {
       width: 370px;
      }

    #googlemaps input {
        width: 290px;
    }

       #persoonlijkeTags {
        width: 370px;
    }

        #persoonlijkeTags input {
            width: 290px;
        }

    #foregroundColor {

        width: 370px;
    }

        #foregroundColor input {
            width: 370px;
        }


    #backgroundColor {
        width: 370px;
    }

        #backgroundColor input {
            width: 370px;
        }

                   #titleColor {
        width: 370px;
    }

        #titleColor input {
            width: 370px;
        }

            #subTitleColor {
        width: 370px;
    }

        #subTitleColor input {
            width: 370px;
        }
        /*###############################################################################################################################################*/

        .AdjDossierModelTwoTextVakDrie {
        position: relative;
            max-width: 70%;
            width: 70%;
            margin-left: 14%;
            height: 120px;
            margin-right: auto;
            border: #FFF;
            overflow: hidden;
    }

    .AdjDossierModelTwoTextVakTwee {
        position: relative;
            max-width: 70%;
            width: 70%;
            height: 120px;
            margin-left: 14%;
            margin-right: auto;
            border: #FFF;
            overflow: hidden;
    }


    .AdjDossierModelTwoTextVakEen {
        position: relative;
            max-width: 70%;
            width: 70%;
            height: 50%;
            margin-left: 14%;
            margin-right: auto;
            border: #FFF;
            overflow: hidden;
    }

    .AdjDossierModelThreeTextVakEen {
       position: relative;
            max-width: 70%;
            width: 70%;
            height: 40%;
            margin-left: 14%;
            margin-right: auto;
            border: #FFF;
            overflow: hidden;
    }

    .AdjDossierModelFiveTextVakEen {
        position: relative;
            max-width: 70%;
            width: 70%;
            margin-left: 15%;
            height: 50%;
            margin-right: auto;
            border: #FFF;
            overflow: hidden;
    }

    #TextWrapperFive {
        width: 100%;
        height: 500px;
    }

    .AdjDossierModelSixTextVakDrie {
        position: relative;
        max-width: 70%;
            width: 70%;
            height: 50%;
            margin-left: 14%;
            margin-right: auto;
            border: #FFF;
            overflow: hidden;
    }

    .AdjDossierModelSixTextVakEen {
        position: relative;
            max-width: 70%;
            width: 70%;
            height: 200px;
            margin-left: 14%;
            margin-right: auto;
            border: #FFF;
            overflow: hidden;
    }


    #DossierModelTwoAfbeelding {
        width: 100%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

        #DossierModelTwoAfbeelding img {
            width: 70%;
            margin-left: 14%;
            height: 50%;
            box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        }

    #map-canvasTwo {
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        position: relative;
        width: 70%;
        margin-left: 14%;
        height: 50%;
        margin-top: 50px;
    }


    #TextWrapperTwo {
        width: 100%;
        height: 400px;
    }


    .AdjDossierModelTwoTextVakEen {
        position: relative;
            max-width: 70%;
            width: 70%;
            height: 50%;
            margin-left: 14%;
            margin-right: auto;
            border: #FFF;
            overflow: hidden;
    }

    #TweeTextvakWrapperTwo {
        width: 100%;
        height: 400px;
    }

    #DossierModelTwoTag {
        margin-top: 100px;
        width: 100%;
        height: 100px;
    }



    #TweeTextvakWrapperThree {
        height: 300px;
        width: 100%;
        margin-top: 25px;
    }

    #map-canvasThree {
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        position: relative;
        width: 70%;
        margin-left: 14%;
        height: 300px;
    }

    #ValidatieError3{
        color: red;
  font-size: 20px;
  width: 100%;
  text-align: center;
    }


    #TextWrapperThree {
        width: 100%;
        height: 500px;
    }

    #DossierModelThreeTag {
        width: 100%;
        height: 100px;
        margin-left: 14%;
    }

    #DossierModelFiveAfbeelding {
        width: 100%;
        height: 600px;
        margin-top: 100px;
    }

        #DossierModelFiveAfbeelding img {
            width: 70%;
            margin-left: 14%;
            box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
        }



    #TweeTextvakWrapperSix {
        height: 200px;
        margin-top: 25px;
        width: 100%;
    }





}


#AgendaModelTag{
    margin-top: 20px;
    margin-left: 60%;
    margin-bottom:20px;
}

@media(max-width:950px){
    #AgendaModelTag{
        margin-left: 30%;
    }
}

@media(max-width:600px){
    #AgendaModelTag{
        margin-left: 10%;
    }
}
