body {
}

/*TimeLine*/




div#timeline {
    background-color: #2980b9;
    margin-top: 150px;
    height: 10px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
}
  .inside {
    position: absolute;
    height: 4px;
    background-color: #fff;
    width: 0%;
    top: 3px;
    left: 0;
  }
.dot {
    box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
    z-index: 99;
    transition: 0.3s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    text-align: center;
    cursor: pointer;
}
    .dot:nth-child(1){
      left: 20%;
      background-color: #2c3e50;
    }
    .dot:nth-child(2){
      left: 40%;
      background-color: #2980b9;
    }
    .dot:nth-child(3){
      left: 60%;
      background-color: #69bd21;
    }
    .dot:nth-child(4){
      left: 80%;
      background-color: #0099cc;
    }
    .dot:hover {
      transform: scale(1.2);
    }
    date {
      font-family: roboto;
      font-size: 1.1rem;
      display: block;
      position: relative;
      top: -60px;
      text-align: center;
    }
    span {
      display: inline-block;
      margin-top: 10px;
      width: 20px;
      height: 20px;
      background-color: #fff;
      position: relative;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }

article {
    display: none;
    position: relative;
    top: 30px;
    max-width: 960px;
    background-color: #fff;
    padding: 20px;
    margin: auto;
}
  date {
    display: block;
    text-align: right;
  }


div.mask {
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 99999;
}
article {
    position: relative;
    top: -100%;
    margin-top: 50px;
    max-width: 960px;
    background-color: #fff;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}
    date {
      display: block;
      text-align: right;
    }


