@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Stem foutmelding";
}

<h1 class="text-danger">Foutmelding bij het stemmen</h1>

        <h2 class="text-danger">U hebt al gestemd op deze antwoord.</h2>
 